<html>
    <head>
            <title>Управление проектом</title>
            <meta name="viewport" content="width = device-width, initial-scale=1">
            <link rel="stylesheet" href="css/Control/control.css">
            <script src="js/Control/Control.js"></script>
    </head>
    <body>   
        <div class="Panel">
            <div class="Section">
                <label class = "LabelSection">Раздел</label>
                <div class="SectionDialogs ActiveSectionDialogs" onclick="DialogsOpen(this)">
                    Диалоги
                </div>
            </div>
            <div class="SectionValue">
                <label class = "LabelSectionValue" id="LabelSectionValue">Диалоги</label>
                <div class="DialogsDiv" id="DialogsDiv" hidden = 'hidden'> 
                </div>
            </div>
        </div>
    </body>
</html> 