<html>
    <head>
            <meta charset = "utf-8">
            <title>Главная страница</title>
            <meta name="viewport" content="width = device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="css/Navbar/navbar.css">
            <link rel="stylesheet" href="css/Index/ContentIndex.css">
            <link rel="stylesheet" href="css/Footer/footer.css">
    <body> 
       {{> Navbar}}
        <div class="Content">
            <div class="first">
                <img src="source/Index/first.png" style="width: 100%;">
                <div class="ContainerFirst">
                    Создайте своего чат-бота уже сейчас!
                    <div>
                        попробуйте, это бесплатно.
                    </div>
                    <div class="StartDivBtn">
                        <form action="#">
                            <button class="StartBtn">Начать</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="second">
                <div class="Second-Image">
                    <img src="source/Index/second-answer.png" width="400px">
                </div>
                <div class="SecondTextBox">
                    <div class="Label">
                            Что такое чат-бот?
                    </div>
                    <div class="Text">
                        Чат-бот это программа которая без вмешательства человека помогает пользователям получать ответ на их вопросы.
                    </div>
                </div>
            </div>
            <div class="ContainerSecond">
                <div class="Block-center">
                    <div class="Third-Image">
                        <img src="source/Index/third.png" width="200px">
                    </div>
                    <div class="ThirdTextBox">
                        <div class="Label">
                            Упростите процесс создания рассылок
                        </div>
                        <div class="Text">
                            Создайте рассылку сообщений всем пользователям сайта в пару кликов.
                        </div>
                    </div>
                </div>
                <div class="Block-center">
                    <div class="Image">
                        <img src="source/Index/fourth.png" width="200px">
                    </div>
                    <div class="TextBox">
                        <div class="Label">
                            Поддерживайте своих пользователей
                        </div>
                        <div class="Text">
                            Сообщайте необходимую пользователю информацию 
                            в любое время суток, без вмешательства службы поддержки.
                        </div>
                    </div>
                </div>
                <div class="Block-center">
                    <div class="Image">
                        <img src="source/Index/fifth.png" width="180px">
                    </div>
                    <div class="TextBox" id="FifthTextBlock">
                        <div class="Label">
                           Ничего лишнего
                        </div>
                        <div class="Text">
                            Создавайте чат бота под свои задачи.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> Footer}}
    </body>
</html>