<html>
    <head>
        <meta charset = "utf-8">
        <title>Тестирование проекта</title>
        <meta name="viewport" content="width = device-width, initial-scale=1">
        <link rel="stylesheet" href="css/Testing/Testing.css">
    <body> 
        <div class="Form">  
            <div class="ChatForm" id="ChatForm">
                <div class="MessageBot">
                    <div class="IncomingMessage">
                        Привет, я чат бот! чем могу помочь? БлаБлаБлаБлаБлаБлаБлаБл БлаБлаБла БлаБлаБла БлаБлаБла БлаБлаБла БлаБлаБла БлаБлаБла БлаБлаБла
                    </div>
                </div>


                <div class="MessageUser">
                    <div class="OutgoingMessage">
                       Привет чат бот, у меня проблемы
                    </div>
                </div>

                <div class="MessageBot">
                    <div class="IncomingMessage">
                       Какие?
                    </div>
                </div>

                <div class="MessageUser">
                    <div class="OutgoingMessage">
                       Серьезные
                    </div>
                </div>

                <div class="MessageBot">
                    <div class="IncomingMessage">
                       Сочувствую
                    </div>
                </div>

                <div class="MessageBot">
                    <div class="IncomingMessage">
                       Я могу еще чем то помочь?
                    </div>
                </div>
                <div class="MessageUser">
                    <div class="OutgoingMessage">
                       Да, бла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла бла
                    </div>
                </div>

                <div class="MessageUser">
                    <div class="OutgoingMessage">
                      и еще, бла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла бла
                    </div>
                </div>
                <div class="ButtonBlock">
                    <input type="button" class="ButtonOnChat" value="Да">
                    <input type="button" class="ButtonOnChat" value="Нет">
                    <input type="button" class="ButtonOnChat" value="Возможно">
                </div>
            </div>
            <form class="SendMessageBlock">
                <textarea class="InputMessage" id="InputMessage"></textarea>
                <input type="button" class="Btn" value="Отправить">
            </form >
            <a href="/constructor">
                <div class="EndTest">
                    Завершить тестирование
                </div>
            </a>
        </div>
    </body>
    
    <script type="text/javascript">
        document.getElementById("ChatForm").scrollTop = document.getElementById("ChatForm").scrollHeight;
    </script>
</html>