<html>
    <head>
        <meta charset = "utf-8">
        <title>Тестирование проекта</title>
        <meta name="viewport" content="width = device-width, initial-scale=1">
        <link rel="stylesheet" href="css/Testing/Testing.css">
        <script src="UsersSource/TempFile.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <body> 
        <div class="Form">  
            <div class="ChatForm" id="ChatForm">
                <div class="MessageBot">
                    <div class="IncomingMessage">
                        Привет, я чат бот! чем могу помочь? БлаБлаБлаБлаБлаБлаБлаБл БлаБлаБла БлаБлаБла БлаБлаБла БлаБлаБла БлаБлаБла БлаБлаБла БлаБлаБла
                    </div>
                </div>


                <div class="MessageUser">
                    <div class="OutgoingMessage">
                       Привет чат бот, у меня проблемы
                    </div>
                </div>

                <div class="MessageBot">
                    <div class="IncomingMessage">
                       Какие?
                    </div>
                </div>

                <div class="MessageUser">
                    <div class="OutgoingMessage">
                       Серьезные
                    </div>
                </div>

                <div class="MessageBot">
                    <div class="IncomingMessage">
                       Сочувствую
                    </div>
                </div>

                <div class="MessageBot">
                    <div class="IncomingMessage">
                       Я могу еще чем то помочь?
                    </div>
                </div>
                <div class="MessageUser">
                    <div class="OutgoingMessage">
                       Да, бла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла бла
                    </div>
                </div>

                <div class="MessageUser">
                    <div class="OutgoingMessage">
                      и еще, бла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла блабла бла бла бла
                    </div>
                </div>
                <div class="ButtonBlock">
                    <input type="button" class="ButtonOnChat" value="Да" id="Button1">
                    <input type="button" class="ButtonOnChat" value="Нет" id="Button2">
                    <input type="button" class="ButtonOnChat" value="Возможно" id="Button3">
                </div>
            </div>
            <div class="SendMessageBlock">
                <textarea class="InputMessage" id="InputMessage"></textarea>
                <input type="button" class="Btn" value="Отправить" id="SendMessage">
            </div >
            <a href="/constructor">
                <div class="EndTest">
                    Завершить тестирование
                </div>
            </a>
        </div>
    </body>
    <script type="text/javascript">
            function LowerDown(){
                document.getElementById("ChatForm").scrollTop = document.getElementById("ChatForm").scrollHeight;
            }
            $('#SendMessage').click(function() {//отправка на сервер введеного текста пользователяч
                let value = document.getElementById("InputMessage").value;
                let data = { message: value};
                $.post('/test', data, function(res) {});
            });
            $('.ButtonOnChat').click(function() {//отправка на сервер значение нажатой пользователем кнопки
                let value = this.value;
                let data = { message: "Нажатие на кнопку с значением:\"" + value + "\""};
                $.post('/test', data, function(res) {});
            });
            function SendBotMessage(Message) {//отправка на сервер ответа бота
                let data = {message: "Ответ бота:\"" + Message + "\""};
                $.post('/test', data, function(res) {});
        }
    </script>
</html>