body{
    margin: 0%;
    background-color: #F7F8FD;
    font-family: 'Segoe UI Light', 'Times New Roman';
    font-size:20px;
    overflow:hidden;
}
.Scroll{
    min-width: 100%;
    height: 93%;
    font-family: 'Segoe UI Light', 'Times New Roman';
    color: rgb(1, 140, 204);
    font-size:20px;
    overflow:auto;
    position: absolute;
}
.Constructor{
    min-width: 100%;
    font-family: 'Segoe UI Light', 'Times New Roman';
    color: rgb(1, 140, 204);
    font-size:20px;
    display: flex;
    position: absolute;
    z-index: 2;
}
.Section{ 
    float: left;
    min-height: 100%;
    margin-left:30px;
    margin-right:10px;
    padding-right:10px;
}
.Label{
    text-align: center;
    margin-top: 10px;
}
.LabelBlack{
    text-align: center;
    color:black;
}
.LabelOther{
    color:black;
    float: left;
    margin-left: 10px;
}
.LabelError{
    margin-top: 10px;
    text-align: center;
    color:rgb(196, 51, 51);
} 
.SubLabel{
    text-align: center;
    font-size: 18px;
    color:rgb(54, 54, 54);
}
#ErrorNewVariable{
    color: rgb(196, 51, 51);
}
.Panel{
    margin-top: 10px;
    margin-left: 10px;
    width: 400px;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}
.TitlePanel{
    min-width:40px;
    max-width: 370px;
    padding-left: 5px;
    border-radius: 7px;
    overflow: hidden;
    display: inline-block;
}
.TitlePanel:hover{
    background-color: #F7F8FD ;
}
.NamePanel{
    margin-left:4px;   
    overflow: hidden;
}
.InputEdit{
    width: 300px;
    height: 30px;
}
.Edit{
    background-color: white;
    border:1px solid rgb(80, 80, 80);
    border-radius: 5px;
    width: 300px;
    color:  rgb(80, 80, 80);
    font-family: 'Segoe UI Light', 'Times New Roman';
    font-size:20px;
    background-color: rgba(0, 174, 255, 0);
    outline: none;
    border: 1px solid rgba(1, 140, 204, 0.582);
}
.ImgPencil{
    margin-left: 5px;
}
.TrashImg{
    float: right;
    padding: 5px;
    border-radius: 10px;
}
.TrashImg:hover{
    background-color: rgb(228, 228, 228);
    transition: 0.3s;
}
.Bot{
    border-radius: 5px;
    margin-top: 5px;
    border: 1px dashed rgba(1, 140, 204, 0.582);
}
.User{
    margin-top: 10px;
    border-radius: 5px;
    border: 1px dashed rgba(1, 140, 204, 0.582);
}
.FormAddInstrumentBtn{
    width:450px;
}
.ButtonUser{
    font-family: 'Segoe UI Light', 'Times New Roman';
    border: none;
    font-size: 18px;
    border-radius: 20px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:  rgb(59, 193, 255);
    color: white;
    margin-top: 10px;
    outline: none;
    width: 200px;
}
.FormButton{
    margin:0;
    padding:0;
}
.AddInstrumentBtn{
    margin-left: 73px;
    margin-top: 10px;
    font-family: 'Candara', 'Times New Roman';
    color: rgb(0, 142, 207);
    border-radius: 20px;
    width:250px;
    height: 40px; 
    font-size:21px;
    background-color: rgba(0, 174, 255, 0);
    border-style: none;
    outline: none;
}
.AddInstrumentBtn:hover{
    color: white;
    background-color: rgb(0, 174, 255);
    transition: 0.3s;
}
.NewPanelBtn{
    color: rgb(228, 228, 228);
    font-family: 'Candara', 'Times New Roman';
    margin-top: 10px;
    margin-left: 10px;
    border-style: none;
    width:440px;
    height: 40px; 
    font-size:21px;
    background-color: rgba(247, 248, 253, 0.836) ;
    border-radius: 5px;
    outline: none;
    display: inline-block;
}
.NewPanelBtn:hover , .OtherNewPanelBtn:hover{
    color: rgb(0, 142, 207);
    background-color: rgb(231, 240, 253) ;
    transition: 0.4s;
}
.OtherNewPanelBtn{
    display: inline-block;
    color: rgb(228, 228, 228);
    font-family: 'Candara', 'Times New Roman';
    margin-top: 10px;
    margin-left: 10px;
    border-style: none;
    width:440px;
    height: 40px; 
    font-size:21px;
    background-color: #F7F8FD ;
    border-radius: 5px;
    outline: none;
}
.NewInstrumentPanel{
    width:100%;
    height: 100%;
    background-color:rgba(202, 202, 202, 0.685);
    display: flex;
    position: fixed;
    min-width: 1080px;
    justify-content: center; 
    align-items: center; 
    overflow: auto;
    z-index: 3;
}
#LabelAddNewInstrument{
    margin-top: 20px;
    color: black;
}
.ImgExit{
    float: right;
    padding: 5px;
    border-radius: 10px;
}
.AddBtn{
    font-family: 'Candara', 'Times New Roman';
    margin-top: 20px;
    margin-left: 160px;
    border-style: none;
    width:190px;
    height: 30px; 
    font-size:16px;
    background-color: rgb(247, 247, 247) ;
    border-radius: 25px;
    color: rgb(68, 68, 68);
    outline: none;

    
}
.AddBtn:hover{
    background-color: rgb(30, 184, 255); ;
    transition: 0.3s;
    color:rgb(255, 255, 255);
}
.AddNewPanel{
    position: absolute;
    border-radius: 20px;
    background-color:white;
    width:500px;
    padding: 20px;
}
.NewTextTextarea{
    padding-top: 5px;
    margin-top:10px;
    width: 500px;
    height: 150px;
    resize: none;
    outline: none;
    border-radius: 10px;
    font-family: 'Segoe UI Light', 'Times New Roman';
    font-size: 16px;
}
.TextBot{
    margin-top: 10px;
    margin-left: 25px;
    width: 350px;
    border: 1px solid rgb(170, 228, 255);
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.TextBot:hover{
    background-color: #F7F8FD ;
    transition: 0.5s;
}
.LabelTextBot{
    margin-left:10px;
    color: black;
    display: inline;
}
.LabelElementUser{
    color: black;
    display: inline;
    margin-left:5px; 
}
.textareaTextBot{
    border-radius: 5px;
    width: 300px;
    margin-left: 10px;
    margin-top: 0px;

    resize: none;   
    border: none;
    font-size: 16px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Segoe UI Light', 'Times New Roman';
}
.ImgPencilInstrument{
    display: inline-block;
    margin-left: 3px;
    border-radius: 5px;
    padding: 3px;
}
.ImgPencilInstrument2{
    float:left;
    margin-left: 3px;
    border-radius: 5px;
    padding: 3px;
}
.ImgPencilInstrument:hover,.ImgPencilInstrument2:hover{
    background-color: rgb(228, 228, 228);
}

.NewName{
    color:black;
    margin-top: 20px;
    margin-left: 50px;
}
.Input{
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(228, 228, 228);
    display: inline-block;
    font-family: 'Segoe UI Light', 'Times New Roman';
    font-size:18px;
    margin-left: 5px;   
    padding: 5px;
}
.InputOther1{
    border-radius: 5px;
    outline: none;
    height:25px;
    width: 120px;
    border: 1px solid rgb(228, 228, 228);
    display: inline-block;
    font-family: 'Segoe UI Light', 'Times New Roman';
    font-size:16px;
    margin-left: 5px;   
    padding: 5px;
    background-color: rgba(255, 255, 255, 0);
}
.InputNumber{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 3px;
    outline: none;
    margin-left: 5px;
    width:60px;
    font-size:16px;
    background-color: rgba(255, 255, 255, 0);
 }
 .Select{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 3px;
    outline: none;
    margin-left: 5px;
    width:120px;
    font-size:16px;
    appearance: none;
    background-color: white;
 }
 
.helpBtn{
    border: none;
    background-color: rgba(0, 174, 255, 0);
    outline:none;
    font-size: 14px;
    color: rgb(209, 209, 209);
}
.helpBtn:hover{
    transition: 0.3s;
    color: rgb(59, 193, 255);
}
#helpBtnMask{
    margin-top: 5px;
}
.BtnOther{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(59, 193, 255);
    font-size: 16px;
    border-radius: 5px;
    outline:none;
}
.BtnOther:hover{
    color:  rgb(50, 157, 206);
    transition: 0.3s;
}
.NewVariableValue{
    color:black;
    margin-top: 20px;
    margin-left: 2px;
}
.FormRadio{
    margin-left: 140px;
    margin-top: 20px;
}
.FormRadio input[type=radio]{
    display: none;
}
.FormRadio label {
    margin-top: 15px;
	display: block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.FormRadio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url(../source/constructor/radio-1.png) 0 0 no-repeat;
}
.FormRadio input[type=radio]:checked + label:before {
    background: url(../source/constructor/radio-2.png) 0 0 no-repeat;
    transition: 0.3s;
}
.FormRadio label:hover:before {
    filter: brightness(90%);
    transition: 0.2s;
}
.FormRadio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}
.FormCheckbox{
    margin-left: 115px;
    margin-top: 20px;
    margin-block-end: 5px;
}
.FormCheckbox input[type=checkbox]{
    display: none;
}
.FormCheckbox label:before{
    content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url(../source/constructor/check-1.png) 0 0 no-repeat;
}
.FormCheckbox input[type=checkbox]:checked + label:before {
    background: url(../source/constructor/check-2.png) 0 0 no-repeat;
    transition: 0.3s;
}
.FormCheckbox label{
    margin-top: 15px;
	display: block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.FormCheckbox label:hover:before {
    filter: brightness(90%);
    transition: 0.2s;
}

#DivIndicatedNumber{
    width:130px;
    margin-left:190px;
    margin-top: 10px;
}
#DivIndicatedText{
    margin-left:100px;
    margin-top: 10px;
}
#DivTagText{
    width: 320px;
    margin-left:120px;
    margin-top: 10px;
    text-align: center;
}

#DivRecInVariableNumber{
    width:300px;
    margin-left:70px;
    margin-top: 10px;
}
#DivIndicatedVariableNumber{
    width:400px;
    margin-left:30px;
}
.Tag{
    margin-top: 2px;
    margin-left: 2px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 18px;
    background-color: rgb(184, 184, 184);
}
.Tag:hover{
    background-color: rgb(143, 143, 143);
    transition: 0.3s;
}
.Tag.active{
    background-color: rgb(143, 143, 143);
    transition: 0.3s;
}
.TagOnPanel{
    margin-top: 2px;
    margin-left: 2px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 18px;
    background-color: rgb(184, 184, 184);
}
.TagDiv{
    display: inline-block;
}
.DeleteTag{
    margin-top: 2px;
    margin-left: 1px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    padding-left: 5px;
    padding-right: 3px;
    font-size: 18px;
    background-color: rgb(0, 142, 207)
}
.DeleteTag:hover{
    background-color: rgb(0, 116, 170)
}
.DivUserButton{
    margin-top: 10px;
    margin-left: 25px;
    width: 350px;
    border: 1px solid rgb(170, 228, 255);
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.DivUserButton:hover{
    background-color: #F7F8FD ;
    transition: 0.5s;
}
.DivUserElement{
    margin-top: 10px;
    margin-left: 25px;
    width: 350px;
    border: 1px solid rgb(170, 228, 255);
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left:5px;
    padding-bottom: 10px;
}
.DivUserElement:hover{
    background-color: #F7F8FD ;
    transition: 0.5s;
}
.DivJumpIndicator{
    display: flex;
    justify-content: flex-end;
}
.JumpIndicator{
    border-radius: 50%;
    border: 1px solid rgb(59, 193, 255);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;

}
.JumpIndicator:hover{
    transition: 0.5s;
    background-color:rgb(59, 193, 255);
}
.DivFormUser{
    display: flex;
    width: 100%;
    justify-content: center;
}
.DivUserEmailVariable{
    width:100%;
}
.IndicatedTextUser{
    margin-left: 92px;
    margin-bottom: 5px;
}
.IndicatedNumberUser{
    margin-left: 83px;
    margin-bottom: 5px;
}
.RangeNumberUser,.MaskNumberUser{
    margin-top:5px;
    width: 100%;
    margin-bottom: 5px;
}
.JumpContainer{
    position: absolute;
    z-index: 1;
    background-color: blanchedalmond;
}
.canvas{
    position: absolute;
}