body{
    margin: 0px;
    background-color: #F7F8FD;
    font-family: 'Segoe UI Light', 'Times New Roman';
    font-size:20px;
    overflow:hidden;
}
.Navbar{
    background-color: white;
    min-width: 1080px;
    height: 70px;
    display: flex;
    flex-direction: row;
}
.LogoDiv{
    float: left;
    width:300px;
    text-align: left;
    padding-top: 10px;
}
#LogoPng{
    width: 45px;
    margin-left: 50px;
    float: left;
    margin-top: 3px;
}
#LabelLogo{
    color:rgb(0, 174, 255);
    text-decoration: none;
    font-size:24px;
    font-family: 'Segoe UI Symbol', 'Times New Roman';
    margin-left: 15px;
    margin-top: 7px;
    float: left;
}
.LabelOther{
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
}
.BtnDiv{
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-top: 15px;
}
.Btn{
    background-color: white;
    height: 40px;
    border: 2px solid rgb(0, 174, 255);
    margin: 0 auto;
    border-radius: 20px;
    color: rgb(0, 174, 255) ; 
    font-size:20px;
    font-family: 'Candara', 'Times New Roman';
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}
.Btn:hover {
    background-color: rgb(0, 174, 255);
    transition: .2s;
    border: 2px solid rgb(0, 174, 255);
    color: white;
}
.Btn:disabled{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(221, 220, 220);
    color:  rgb(221, 220, 220);
    transition: 0.2s;
}
.AddBtn{
    background-color: white;
    height: 35px;
    border: 2px solid rgb(0, 174, 255);
    margin: 0 auto;
    border-radius: 20px;
    color: rgb(0, 174, 255) ; 
    font-size:20px;
    font-family: 'Candara', 'Times New Roman';
    padding-left: 50px;
    padding-right: 50px;
    outline: none;
}
.AddBtn:hover {
    background-color: rgb(0, 174, 255);
    transition: .2s;
    border: 2px solid rgb(0, 174, 255);
    color: white;
}
.ProjectPanel{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.Label{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 24px;
}
.ProjectList{
    width:100%;
}
.DivProject{
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 80px;
    background-color: rgb(233, 244, 255);
    padding: 10px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 20px;
    color: rgb(114, 114, 114);
    font-size: 20px;
    margin-top: 10px;
    margin-right: 2px;
    cursor: default;
    border: none;
    font-family: 'Segoe UI Light', 'Times New Roman';
    outline: none;
    overflow: hidden;
}
.BtnProject{ 
    height: 100px;
    margin-top: 10px;
    width:70px;
}
.OpenProject{
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 49px;
    background-color: rgb(233, 244, 255);
    padding: 10px;
    border-top-right-radius: 10px;
    color: rgba(114, 114, 114, 0);
    font-size: 16px;
    cursor: default;
    border: none;
    font-family: 'Segoe UI Light', 'Times New Roman';
    outline: none;
    margin-bottom: 2px;
}
.DeleteProject{
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 49px;
    background-color: rgb(233, 244, 255);
    padding: 10px;
    border-bottom-right-radius: 10px;
    color: rgba(114, 114, 114, 0);
    font-size: 16px;
    cursor: default;
    border: none;
    font-family: 'Segoe UI Light', 'Times New Roman';
    outline: none;
}
.FormProject:hover .OpenProject{
    background-color: rgb(0, 174, 255);
    transition: 0.4s;
    color: rgb(255, 255, 255);
}
.FormProject:hover .OpenProject:hover{
    background-color: rgb(46, 189, 255);
    transition: 0.4s;
}
.FormProject:hover .DivProject{
    background-color: rgb(0, 174, 255);
    transition: 0.4s;
    color: rgb(255, 255, 255);
}
.FormProject:hover .DeleteProject{
    background-color: rgb(0, 174, 255);
    transition: 0.4s;
    color: rgb(255, 255, 255);
}
.FormProject:hover .DeleteProject:hover{
    background-color: rgb(46, 189, 255);
    transition: 0.4s;
}
.NewProject{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    width: 220px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    color: rgb(114, 114, 114);
    font-size: 22px;
    margin-top: 10px;
    background-color: rgba(214, 235, 255, 0.418);
}
.NewProject:hover{
    background-color: rgb(0, 174, 255);
    transition: 0.4s;
    color: rgb(255, 255, 255);
}
.NewInstrumentPanel{
    width:100%;
    height: 100%;
    background-color:rgba(202, 202, 202, 0.685);
    display: flex;
    position: fixed;
    min-width: 1080px;
    justify-content: center; 
    align-items: center; 
    overflow: auto;
    z-index: 5;
}
.AddNewPanel{
    position: absolute;
    border-radius: 20px;
    background-color:white;
    width:400px;
    padding: 20px;
    text-align: center;
}
.ImgExit{
    float: right;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}
.Input{
    border-radius: 20px;
    border: 1px solid rgb(194, 194, 194);
    margin-top: 25px;
    padding-left:10px;
    padding-right:10px;
    width:300px;
    height: 30px;
    outline: none;
    font-size: 18px;
}
.Error{
    margin-bottom: 10px;
    text-align: center;
    color:rgb(212, 106, 106);
    height: 25px;
    width:100%;
}
.FormProject{
    display: inline-flex;
    margin: 0px;
    padding: 0px;
}