<html>
    <head>
            <link rel="stylesheet" href="css/Footer/footer.css">
    <body> 
        <footer>
            <div class="Column1">
                SmallBot - это бесплатный конструктор чат ботов 
                <br /> 
                разработаный для быстрого создания чат-ботов
                <br />  
                для сайтов без знания языков программирования. 
                <br />
            </div>
            <div class="Column2">
                Название организации: ФГБУ ВО РГУ им. А.Н. Косыгина
                <br />
                Адрес: 117997, г. Москва, ул. Садовническая, д. 33, стр.1
                <br />
                Телефон: 8 (495) 951-58-01
                <br />
                Электронная почта:info@rguk.ru
                <br />
                Сайт разработан: Шашковым Антоном
            </div>
            <div class="Column3">
                <div class="Link-Block">
                    Карта сайта:
                <br />
                <a class="Link" href="/main">Главная страница</a>
                <br />
                <a class="Link" href="/constructor">Конструктор</a> 
                <br />
                <a class="Link" href="/contacts">Контакты</a>
                </div>
                </div>
         </footer>
    </body>
</html>






