<html>
    <head>
            <link rel="stylesheet" href="css/Navbar/navbar.css">
    <body> 
        <div class="Navbar">
            <div class="LogoDiv">
                <a href="/main"><img src="source/navbar/logo.png" alt="Small Bot" id="LogoPng"></a>
                <a href="/main" id="LabelLogo">Small Bot</a>
            </div>
            <div class="NavPanelDiv">
                <a href="/main" class="LinkNavPanel">Главная</a>
                <a href="/constructor" class="LinkNavPanel">Конструктор</a>
                <a href="/contacts"class="LinkNavPanel">Контакты</a>
            </div>
            <div class="AutorizationDiv">
                <a href="/login">
                    <input type="button" value="Войти" id="AutorizBtn">
                </a>
            </div>
        </div> 
    </body>
</html>