<form class="FormProject">  
    <div class="DivProject">{{Name}}</div>
    <div class="BtnProject">
        <input type="submit" class="OpenProject" value="Открыть" name="{{Name}}">
        <input type="submit" class="DeleteProject" value="Удалить" name="{{Name}}">
    </div>
 </form>